@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background: url(../src/chivasClubGris.svg);
}

.container section {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .mainText {
  width: 100%;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.container section .arrow {
  width: 2%;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 6;
}

.trofeos .trofeos-container {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  text-align: center;
}

.trofeos .secondary-text {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  width: 100%;
}

.trofeos .trofeo {
  width: 80%;
}

.trofeos .hola {
  font-size: 1.5em;
  visibility: hidden;
}

.trofeos .fecha-show {
  visibility: initial;
}

.trofeos .trofeos-subcontainer {
  text-align: center;
}

.trofeos .trofeos-subcontainer .arrowTrofeo {
  width: 15%;
  margin-right: 10%;
  display: none;
}

.trofeos .trofeos-subcontainer .arrowTrofeoShow {
  position: absolute;
  display: block;
  width: 1.5%;
  margin: 0 3%;
}

.trofeos .campeones {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.trofeos .campeones .trofeo-campeones {
  margin: 0 1em;
  width: 60%;
}

.trofeos .copa-mexico {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.trofeos .copa-mexico .trofeo-copa {
  width: 70%;
}

.trofeos .copa-concacaf {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.trofeos .copa-concacaf .trofeo-concacaf {
  width: 70%;
}

.trofeos .copa-challenger {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.trofeos .copa-pentagonales {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.trofeos .copa-pentagonales .trofeo-pentagonales {
  margin: 0 3em;
  width: 40%;
}

.trofeos .copa-pentagonales .trofeo-guadalajara {
  margin: 0 3em;
  width: 40%;
}

.footer {
  background: url(../src/chivasClubGris.svg);
}

.footer .textfooter {
  width: 80%;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
}

.footer .trofeos-footer {
  text-align: center;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
}

.footer .trofeos-footer #copa {
  width: 13%;
}

.footer .trofeos-footer #concacaf {
  width: 8%;
}

.footer .trofeos-footer #challenger {
  width: 8%;
}

.footer .trofeos-footer #campeones {
  width: 6%;
}

.footer .trofeos-footer #liga {
  width: 10%;
}

.footer .trofeos-footer img {
  margin: 0 1em;
}

.footer .footertext {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 5;
  text-align: center;
}

.footer .footertext .imgText {
  width: 40em;
}

@media only screen and (max-width: 450px) {
  .trofeos .hola {
    font-size: 1.5em;
    display: none;
  }
  .trofeos .secondary-text {
    position: absolute;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .trofeos .trofeos-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  .trofeos .trofeos-container img {
    width: 60%;
  }
  .trofeos .campeones {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .trofeos .campeones .trofeo-campeones {
    margin: 1em 1em;
    width: 50%;
  }
  .trofeos .copa-mexico {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .trofeos .copa-mexico .trofeo-copa {
    width: 70%;
  }
  .trofeos .copa-concacaf {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .trofeos .copa-concacaf .trofeo-concacaf {
    width: 70%;
  }
  .trofeos .copa-challenger {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .trofeos .copa-pentagonales {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
  }
  .trofeos .copa-pentagonales .trofeo-pentagonales {
    margin: 0 3em;
    width: 40%;
  }
  .trofeos .copa-pentagonales .trofeo-guadalajara {
    margin: 0 3em;
    width: 40%;
  }
  .footer {
    background: url(../src/chivasClubGris.svg);
  }
  .footer .textfooter {
    position: absolute;
    width: 100%;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
  }
  .footer .trofeos-footer {
    text-align: center;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
    position: absolute;
  }
  .footer .trofeos-footer #copa {
    width: 13%;
  }
  .footer .trofeos-footer #concacaf {
    width: 8%;
  }
  .footer .trofeos-footer #challenger {
    width: 8%;
  }
  .footer .trofeos-footer #campeones {
    width: 6%;
  }
  .footer .trofeos-footer #liga {
    width: 10%;
  }
  .footer .trofeos-footer img {
    margin: 0 1em;
  }
  .footer .footertext {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 5;
    text-align: center;
    position: absolute;
  }
  .footer .footertext .imgText {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */