@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$background: url(../src/chivasClubGris.svg);

@mixin gridAlign {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  justify-items: center;
  align-items: center;
}

@mixin gridRowStart($start, $end) {
  grid-row-start: $start;
  grid-row-end: $end;
}


* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
   background: $background;
  section {
    @include gridAlign();
    .mainText {
      width: 100%;
      @include gridRowStart(4, 4);
      align-self: baseline;
    }
    .arrow {
      width: 2%;
      @include gridRowStart(6, 6);
    }
  }
}

.trofeos {
  // background: $background;
  .trofeos-container {
    @include gridRowStart(4, 4);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    text-align: center;
  }

  .secondary-text {
    @include gridRowStart(2, 2);
    width: 100%;
  }

  .trofeo {
    width: 80%;
  }

  .hola {
    font-size: 1.5em;
    visibility: hidden;
  }

  .fecha-show {
    visibility: initial;
  }

  .trofeos-subcontainer {
    text-align: center;
    .arrowTrofeo {
      width: 15%;
      margin-right: 10%;
      display: none;
    }

    .arrowTrofeoShow {
      position: absolute;
      display: block;
      width: 1.5%;
      margin: 0 3%;
    }
  }

  .campeones {
    grid-template-columns: repeat(6, 1fr);
    .trofeo-campeones {
      margin: 0 1em;
      width: 60%;
    }
  }

  .copa-mexico {
    grid-template-columns: repeat(2, 1fr);
    .trofeo-copa {
      width: 70%;
    }
  }

  .copa-concacaf {
    grid-template-columns: repeat(1, 1fr);
    .trofeo-concacaf {
      width: 70%;
    }
  }

  .copa-challenger {
    grid-template-columns: repeat(1, 1fr);
  }

  .copa-pentagonales {
    grid-template-columns: repeat(3, 1fr);
    .trofeo-pentagonales {
      margin: 0 3em;
      width: 40%;
    }
    .trofeo-guadalajara {
      margin: 0 3em;
      width: 40%;
    }
  }
}


.footer {
  background: $background;
  .textfooter {
    width: 80%;
    @include gridRowStart(2,2);
  }
  .trofeos-footer {
    text-align: center;
    @include gridRowStart(3,3);
    #copa {
      width: 13%;
    }
    #concacaf {
      width: 8%;
    }
    #challenger {
      width: 8%;
    }
    #campeones {
      width: 6%;
    }
    #liga {
      width: 10%;
    }

    img {
      margin: 0 1em;
    }
  }

  .footertext{
    @include gridRowStart(5,5);
    text-align: center;
    .imgText{
      width: 40em;
    }
  }
}
